@model hastanerandevu.Models.Entities.Class1
@{
    ViewBag.Title = "Ekleme";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js" integrity="sha512-YHQNqPhxuCY2ddskIbDlZfwY6Vx3L3w9WRbyJCY81xpqLmrM6rL2+LocBgeVHwGY9SXYfQWJ+lcEWx1fKS2s8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        $("#SEHIRID").change(function () {
            var countryid = $(this).val();
            var id = $('#SEHIRID').val();
            if (id) {
                $('#ILCEID').prop("disabled", false);
            } else {
                $('#ILCEID').prop("disabled", true);
            }
            debugger
            $.ajax({
                type: "post",
                url: "/Home/ilcegetir?SEHIRID=" + countryid,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#ILCEID").empty();
                    $("#ILCEID").append(response);
                }
            })
        })
    })
            </script>
<div class="container">
    @using (Html.BeginForm("Ekleme", "AdminP", FormMethod.Post))
    {
        <div class="card-body p-2">
<div class="d-flex flex-row justify-content-center">
    <div style="margin: auto;">
        <div class="form-group text-center">
            @if (ViewBag.SehirList != null)
                            {
            <label style="margin-top:20px; text-align:center;">Şehirler</label>
            @Html.DropDownListFor(m => m.SEHIRID, ViewBag.SehirList as SelectList, "---Şehir Seçiniz---", new { @class = "form-control ", style = "margin-top:20px; text-align:center;" })
                            }
            <label style="margin-top: 20px; text-align: center;">İlçeler</label>
            @Html.DropDownListFor(m => m.ILCEID, new SelectList(""), "---İlçe Seçiniz---", new { @class = "form-control", disabled="disabled",style = "margin-top:20px; text-align:center;width:300px;" })
            <label style="margin-top:20px;"> Hastane Adı </label>
            @Html.TextBoxFor(m => m.HASTANEAD, new { @class = "form-control", style = "margin-top:20px;width:300px;" })

            <div style="margin-top:20px;">
                <button class="btn btn-warning">Hastane Ekle</button>
            </div>
        </div>
        </div>
    </div>
            </div>
        }
    </div>
