@model hastanerandevu.Models.Entities.doktorlar

<option value="">---Doktor Seçiniz---</option>
@if (ViewBag.Doktorlist != null)
{
    foreach (var item in ViewBag.Doktorlist)
    {
       <option value="@item.Value">@item.Text</option>
    }
}