@model hastanerandevu.Models.Entities.klinikler

<option value="">---Klinik Seçiniz---</option>
@if (ViewBag.Kliniklist!= null)
{
    foreach (var item in ViewBag.Kliniklist)
    {
        <option value="@item.Value">@item.Text</option>
    }
}